//* Everyone write your CSS code here*// 
/*MENU/NAVBAR FOR ALL MAIN PAGES*/
* navbar */
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_gray*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar*/
.menu {
  grid-area: menu;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.9);
  z-index: 50;
}

.menu ul {
  list-style-type: none;
  margin-left: 0;
  list-style: none;
  padding: 0;
  overflow: visible;
}

.menu li {
  padding: 10px 0;
  text-align: center;
}

.menu li a {
  display: block;
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  color: #fff;
  margin-top: 5px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.menu li a,
.dropbtn {
  color: white;
  text-align: center;
  text-decoration: none;
}

.menu a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #222222ad;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  border-radius: 4px;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu li a:hover {
  background-color: #000000d7;
}

/*-----------------------FOOTER-------------------------------------------*/
footer {
  grid-area: footer;
  background-color: rgba(12, 12, 12, 0.9);
  height: 80px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 80px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
}


.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}
