body {
  font-family: sans-serif;
  color: #111111;
  font-size: 90%;
  width: 100%;
  margin: 0;
}

/*----------------------------------------------------------------------------------- MAIN PAGE BELGIUM --------------------------------------------------------------------------------------------------------------------------*/
/*for mobile screen sizes*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_responsive*/

@media (max-width: 600px) {

  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "menu"
      "section-heading"
      "facts"
      "footer";
    background-color: white;
    gap: 10px;
  }

  /*https://www.w3schools.com/css/css_navbar_horizontal.asp*/
  /*changes to a horizontal navbar instead of vertical when screen size is as a phone*/
  .menu {
    position: relative;
    width: 100%;
    height: auto;
  }

  .menu ul {
    display: flex;
    justify-content: center;
  }

  header img {
    height: 60vh;
  }

  header>h1 {
    font-size: 32px;
    top: 30%;
    right: 10px;
  }

  header>p {
    font-size: 18px;
    top: 40%;
    right: 5%;
  }

  iframe {
    width: 80%;
    height: 250px;
  }

  .placesB {
    height: 45vh !important;
  }
}

/*For tablet screen sizes*/
@media (min-width: 600px) and (max-width: 900px) {

  .grid-container {
    display: grid;
    grid-template-areas:
      "menu header"
      "menu section-heading"
      "menu facts"
      "footer footer";
    grid-template-columns: 180px auto;
  }

  .menu {
    position: relative;
    width: 100%;
    height: auto;
  }

  header img {
    height: 80vh;
  }

  iframe {
    width: 100%;
  }
}

/*For Laptop screen sizes*/

@media(min-width: 900px) {

  .grid-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
      "menu header"
      "menu section-heading"
      "menu facts"
      "footer footer";
  }

  .menu {
    width: 250px;
    position: fixed;
  }

  iframe {
    width: 600px;
  }

}

/*---------------------------------------------------------------------------------------------*/
/* HEADER */
.header {
  grid-area: header;
  text-align: center;
  color: white;
}

/*https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_image_background1*/
header img {
  width: 100%;
  height: 110vh;
  background-position: center center;
  background-size: cover;
  display: block;
   animation: zoomin 12s ease-in-out infinite alternate;
  -webkit-animation: zoomin 12s ease-in-out infinite alternate;
}


header>h1 {
  font-size: 70px;
  text-align: right;
  position: absolute;
  z-index: 10;
  top: 30%;
  right: 60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display:inline-block;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
}

header>p {
  font-size: 40px;
  text-align: right;
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 200;
}

.facts {
  grid-area: facts;
  border: 2px solid #cccccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 30px;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.facts li {
  margin-bottom: 12px;
  padding-left: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #444;
}

.facts>h2 {
  text-align: left;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 0;
  color: #333;
  font-weight: 600;
  border-bottom: none;
  padding-bottom: 0;
}

.section-heading {
  grid-area: section-heading;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.section-heading h1 {
  margin-top: 0px;
  font-size: 32px;
  color: #232323;
  display: inline-block;
  margin-right: 50px;
}

.section-heading p {
  display: inline-block;
  text-align: left;
  font-size: 15px;
  line-height: 26px;
  color: #343434;
  top: 12.5px;
  margin-left: 10%;
  margin-right: 10%;
}

.text-content {
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.text-content h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

iframe {
  grid-area: section-heading;
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  grid-area: footer;
  background-color: rgba(12, 12, 12, 0.9);
  height: 80px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 80px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
}


.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------------------------------------------- ALL OTHER PAGES ------------------------------------------------------------------------------------------------------*/

/*Mobile*/
@media (max-width:600px) {
  .grid-container2 {
    display: grid;
    grid-template-areas:
      "header"
      "menu2"
      "section-heading"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: white;
    gap: 10px;
  }

  .menu2 {
    width: 100%;
    height: auto;
    z-index: 9999;
    position: relative;
  }

  .menu2 ul {
    text-align: center;
    overflow: visible;
    width: 90%;
  }

  .menu2 ul li a {
    text-align: center;
    float: none;
    padding: 10px 12px;
    text-decoration: none;
    font-size: smaller;
  }

  .dropdown-content {
    z-index: 9999;
    font-size: small;
  }


.header .places {
  font-size: 25px;
  top: 20%;
}

.header .sub {
  font-size: 15px;
  top: 30%;
}

  .header>h1,
  .header>p {
    right: 20px;
    font-size: 24px;
  }

  .placesB{
    height: 40vh;
    width: 80%;
  }

  .header img {
    height: 60vh;
  }

  div.poloroid{
    margin: 10px;
  }

  .image-text-row {
    grid-template-columns: 1fr;
  }

  div.polaroid {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    margin-left: 50px;
  }

  p.side {
    grid-column: 1;
    grid-row: 2;
  }
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 900px) {
  .grid-container2 {
    display: grid;
    grid-template-areas:
      "menu2"
      "header"
      "section-heading"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: white;
    gap: 10px;
  }

  .menu2 {
    width: 100%;
    height: auto;
  }

  header img {
    height: 80vh;
  }
}

/*Laptop*/
@media(min-width: 900px) {
  .grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "menu2"
      "header"
      "section-heading"
      "footer";
    grid-template-rows: auto auto auto auto;
  }
}
  

.menu2 {
  grid-area: menu2;
  width: 100%;
  height: auto;
  overflow: visible;
}

.menu2 ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
  top: 0;
}

.menu2 ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  position: sticky;
}

.menu2 ul li a:hover {
  background-color: #111111;
}

.menu2 li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu2 li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.menu2 li.dropdown {
  display: inline-block;
  position: relative;
}

.menu2 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000c5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu2 .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}

.menu2 .dropdown-content a:hover {
  background-color: #1a1919;
}

.menu2 .dropdown:hover .dropdown-content {
  display: block;
}

/*places in belgium  page*/
.placesB {
   width: 100%;
   height: 90vh;
}

.places {
  font-size: 50px;
  top: 60%;
}

.sub {
  font-size: 30px;
  top: 70%;
}

.image-text-row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  margin: 10px;
  margin-right: 20%;
  align-items: start;
}

.image-text-row h2 {
  grid-row: 1 / -1;
  margin: 20px 0  10px 70px ;
  text-align: center;
}

div.polaroid {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
  width: 400px;
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 40px;
  margin-top: 40px;
}

div.container {
  padding: 10px;
}

p.side {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  margin-left: 30%;
  padding: 5px;
}

@media (max-width: 768px) {
  .image-text-row {
    grid-template-columns: 1fr;
  }

  div.polaroid {
    grid-column: 1;
    grid-row: 3;
    width: 100%;

  }

  p.side {
    grid-column: 1;
    grid-row: 2;
  }
}

/*culture and lifestyle page*/
.culture {
  width: 100%;
  height: 110vh;
}

.flagtitles1 {
  background-color: black;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

.flagtitles2 {
  background-color: #f1df3ce8;
  color: black;
  margin-left: 20%;
  margin-right: 20%;
}

.flagtitles3 {
  background-color: #ff0000be;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

hr {
  margin: 30px 10% 30px 10%;
}
.section-heading h4{
  text-align: left;
  margin-left: 10%;
  font-style: italic;
}

* {
  box-sizing: border-box;
}
/*https://www.w3schools.com/css/css_image_gallery.asp*/
/*https://www.w3schools.com/css/css3_images_modal.asp*/
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: calc(25% - 20px);
  transition: transform 0.2s ease;
}

div.gallery-item:hover {
  border: 1px solid #777;
  box-shadow: 2px 2px #1111116c;
  transform: scale(1.05);
}

div.gallery-item img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 2px;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}
